	<footer class="d-flex flex-column flex-md-row p-2 justify-content-center justify-content-md-between align-items-center">
		<div class="d-flex align-items-center order-2 order-md-1">
			<span class="link">
				<i width="20" class="fas fa-user-tie"></i>
				<a target="_blank" href="https://github.com/LuisFOsG" class="link">Luis Osorio</a> -
				<a target="_blank" href="https://github.com/BryanSMC" class="link">Bryan Muñoz</a> -
				<a target="_blank" href="https://github.com/ItzAlda1" class="link">Aldair Luque</a>
			</span>
		</div>
		<div class="d-flex align-items-center order-3 order-md-2">2021</div>
		<div class="d-flex align-items-center order-1 order-md-3">
			<a target="_blank" href="https://github.com/LuisFOsG/short-url">
				<h3 class="link">
					<i width="20" class="fab fa-github"></i> Github
				</h3>
			</a>
		</div>
	</footer>
</html>
