<div class="col-md-6 d-flex justify-content-center">
	<div class="card border-primary mt-3 w-100">
		<div class="card-header"><i class="fas fa-plus"></i> New Url</div>
		<div class="card-body text-primary">
			<form action="/" method="POST">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Nick *" name="nick" autofocus>
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Password *" name="password">
				</div>
				<hr>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text"> <%= host %> </span>
					</div>
					<input type="text" class="form-control" aria-describedby="basic-addon3" placeholder="short_url" name="shortUrl">
				</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Destination Url *" name="destinationUrl">
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<div class="input-group-text">
							<input type="checkbox" id="watch">
						</div>
					</div>
					<input type="text" class="form-control" id="passwordUrl" placeholder="Password Url" name="passwordUrl">
				</div>
				<div class="form-group">
					<input type="number" min="0" step="1" class="form-control" placeholder="Expire After Views" name="views">
				</div>
				<div class="form-group">
					<button type="submit" class="form-control btn btn-primary">Validate</button>
				</div>
			</form>
		</div>
	</div>
</div>
