<div class="col-md-6 d-flex justify-content-center">
	<div class="card border-primary mt-3 w-100">
		<div class="card-header">Url data</div>
		<div class="card-body text-primary">
			Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error distinctio, cupiditate delectus debitis doloremque consectetur reprehenderit non tempore perspiciatis dolor laudantium ipsa, qui porro, maxime ea sunt minus accusantium voluptates quos quis quaerat. Porro quo sed quam necessitatibus esse eaque ad voluptatem officia sunt rerum reprehenderit officiis aliquid, nobis reiciendis.
		</div>
	</div>
</div>