<div class="col-md-6 d-flex justify-content-center">
	<div class="card border-primary mt-3 w-100">
		<div class="card-header"><i class="fas fa-clipboard-list"></i> Description</div>
		<div class="card-body text-primary">
			<div class="alert alert-info" role="alert">
				Welcome to the Final Versión!!
			  </div>
			<ol>
				<li>If you create a limited url, You will at the final url an acronimo -tmp</li>
				<li>The Important Fields are marked with a asterisk ( * ) </li>
				<li>When Edit the password if you leave the field in blank will delete the password.</li>
			</ol>
		</div>
	</div>
</div>
