<div class="col-md-6 d-flex justify-content-center">
	<div class="card border-primary mt-3 w-100">
		<div class="card-header"><i class="fas fa-clipboard-list"></i> Url data</div>
		<div class="card-body text-primary">

			<% findUrl.forEach(function(url){ %>
				<div class="card">
					<%= url.path %>
				</div>
			<% }); %>

		</div>
	</div>
</div>
