<div class="col-md-6 d-flex justify-content-center">
	<div class="card border-primary mt-3 w-100">
		<div class="card-header"><i class="fas fa-clipboard-list"></i> Url Info</div>
		<div class="card-body text-primary">
			<div class="alert alert-warning" role="alert">
				Bienvenido a la Version Beta!.
			  </div>
			<ol>
				<li>Si crea una url Temporal, tendra al final de la url un acronimo -tmp</li>
				<li>Los campos Importantes Estan marcados con un *</li>
				<li>Al editar la Contraseña si Deja el campo en Blanco Eliminara su Contraseña</li>
			</ol>
		</div>
	</div>
</div>
