<div class="col-md-6 d-flex justify-content-center">
	<div class="card border-primary mt-3 w-100">
		<div class="card-header">Url data</div>
		<div class="card-body text-primary">
			<div class="alert alert-danger" role="alert">
				Aun esta en Etapa de Desarrollo!.
			  </div>
			<ol>
				<li>Si crea una url Temporal, tendra al final de la url un acronimo -tmp</li>
			</ol>
		</div>
	</div>
</div>