<%- include( '_head' ); -%>

<body>
	<%- include('_nav'); -%>
	<div class="caja d-flex justify-content-center">
		<div class="card border-danger mt-3">
			<div class="card-body text-danger">
				<h5 class="card-title">Page Not Found</h5>
				<p class="card-text">check that the URL is spelled correctly</p>
				<div class="form-group">
					<a href="/" type="button" class="form-control btn btn-danger">Go To Home</a>
				</div>
			</div>
		</div>
	</div>
</body>

<%- include( '_footer' ); -%>
