<%- include( '_head' ); -%>

<body>
	<%- include( '_nav' ); -%>

	<div class="caja d-flex justify-content-center">
		<div class="card border-primary mb-3">
			<div class="card-header">
				<i class="fas fa-key"></i> Password Required
			</div>

			<div class="card-body text-primary">
				<form action="/password" method="POST">
					<input type="hidden" name="path" value="<%= path %>">

					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<input type="checkbox" id="watch">
							</div>
						</div>

						<input
							type="text"
							<% if (error === 'true') { %> class="form-control is-invalid"
							<% } else { %> class="form-control" <% } %>
							id="passwordUrl"
							placeholder="Password"
							name="password"
						>

					</div>

					<hr>
					<div class="form-group">
						<button type="submit" class="form-control btn btn-primary">Validate</button>
					</div>

					<% if (error === 'true') { %>
						<div class="alert alert-danger" role="alert">
							Incorrect Password
						</div>
					<% } %>
				</form>
			</div>

		</div>
	</div>

	<script src="/js/main.js"></script>
</body>

<%- include( '_footer' ); -%>
