<%- include( '_head' ); -%>

<body>
	<%- include( '_nav' ); -%>

	<div class="caja d-flex justify-content-center">
		<div class="card border-primary mb-3">
			<div class="card-header">Password Required</div>
			<div class="card-body text-primary">
				<form action="/password" method="POST">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<div class="input-group-text">
								<input type="checkbox" id="watch">
							</div>
						</div>
						<input type="text" class="form-control" id="passwordUrl" placeholder="Password" name="password">
					</div>
					<hr>
					<div class="form-group">
						<button type="submit" class="form-control btn btn-primary">Validate</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="/js/main.js"></script>
</body>

<%- include( '_footer' ); -%>
