<%- include('layouts/_head.ejs'); %>

<body>
	<%- include('layouts/_nav.ejs'); %>
	<div class="d-flex justify-content-center">
		<div class="card border-primary mb-3 mt-3" style="max-width: 18rem;">
			<div class="card-header">Password</div>
			<div class="card-body text-primary">
				Hola Mundo.
			</div>
		</div>
	</div>
</body>

<%- include('layouts/_footer.ejs'); %>
