footer {
	background-color: rgb(34, 33, 33);
	color: rgb(187, 180, 169);
	margin-top: 35px;

	div {
		height: 50px;
	}
}

.footer-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
}

a {
	text-decoration: none;

	.link {
		color: rgb(187, 180, 169);
	}

	&:hover {
		text-decoration: none;
	}
}

.row {
	margin-left: 0;
	margin-right: 0;
}

[type=checkbox]::before {
	left: -0.4rem;
	top: -0.5rem;
}

[type=checkbox]:checked::after {
	left: -0.2rem;
	top: -0.5rem;
}
